# Consultar datos desde MySQL e cargalos en Cassandra (Notebook 2)

## Crea un segundo notebook

Este caderno (```2.CargarCassandra.ipynb```) xestiona este paso do exercicio.

## Consulta a táboa en MySQL e carga os datos nun DataFrame de pandas.

In [ ]:
# Requerimentos da contorna

!pip install mysql-connector-python 
!pip install pandas

Requirement already satisfied: mysql-connector-python in /home/bigdata/miniconda3/envs/titanic2/lib/python3.14/site-packages (9.5.0)
Requirement already satisfied: pandas in /home/bigdata/miniconda3/envs/titanic2/lib/python3.14/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in /home/bigdata/miniconda3/envs/titanic2/lib/python3.14/site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/bigdata/miniconda3/envs/titanic2/lib/python3.14/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/bigdata/miniconda3/envs/titanic2/lib/python3.14/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/bigdata/miniconda3/envs/titanic2/lib/python3.14/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /home/bigdata/miniconda3/envs/titanic2/lib/python3.14/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [1]:
# Conexión á BD MySQL

import mysql.connector


# Nomes e ferrollos da Conexión
HOST = "127.0.0.1"
USER = "root"
PASSWORD = "root_password" 
DATABASE = "data_pipeline_db"

# Conectamos coa nosa BD
try:
    mydb = mysql.connector.connect(
        host=HOST,
        user=USER,
        password=PASSWORD,
        database=DATABASE
    )
    cursor = mydb.cursor()

# Xestor groseiro de erros

except mysql.connector.Error as err:
    print(f"Erro de MySQL: {err}")
    if '1049' in str(err):
         print("Non atopo a base de datos 'data_pipeline_db'.")

In [2]:
# Copiamos o contido da táboa 'books' en cursor.

import pandas as pd

sql_query = "SELECT * FROM books"
cursor.execute(sql_query)
query_data = cursor.fetchall()
column_names = [i[0] for i in cursor.description]


# Creamos o Dataframe 'df_books' cos datos que vimos de gardar.

df_books = pd.DataFrame(query_data, columns=column_names)

# Amosámo-los resultados.
print("DataFrame 'df_books' arrebolado. Total rexistros:", len(df_books))
print("Primeiros 5 rexistros:")
print(df_books.head())

DataFrame 'df_books' arrebolado. Total rexistros: 271065
Primeiros 5 rexistros:
         isbn                                              title  \
0  0000913154  The Way Things Work: An Illustrated Encycloped...
1  0001010565                                    Mog's Christmas
2  0001046438                                               Liar
3  0001046713                       Twopence to Cross the Mersey
4  000104687X  T.S. Eliot Reading \The Wasteland\" and Other ...

                          author  year_of_publication  \
0  C. van Amerongen (translator)                 1967
1                    Judith Kerr                 1992
2                    Stephen Fry                    0
3                Helen Forrester                 1992
4                     T.S. Eliot                 1993

                  publisher
0      Simon &amp; Schuster
1                   Collins
2          Harpercollins Uk
3  HarperCollins Publishers
4  HarperCollins Publishers

## Conéctate á base de datos Cassandra

## Crea un keyspace e unha táboa cun esquema compatible cos teus datos

## Inserta os datos do DataFrame en Cassandra